@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Abbey Outain</h1>
        <h2>Full Stack Web Developer</h2>
        <a href="#about" class="btn-get-started scrollto">About Me</a>
    </div>
</section>
<!-- End Hero Section -->
<main id="main">
    <!-- ======= About Abbey Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2 id="aboutMe">About Me</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="~/Content/assets/img/headshot1-cropped.jpg" id="headshot" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>I'm Abbey Outain, <strong>full stack web developer</strong></h3>
                    <div id="aboutMeText">
                        <p>
                            My background is in English; I’ve been a lifelong reader and writer, but when looking for the next steps in my career, I wanted something that involved more logic and problem solving than putting pen to paper.
                            <br /><br />
                            I attended Centriq Training’s Full Stack Web Developer program, and not only did I fall in love with coding, I also found the creative and critical thinking skills relevant to writing were essential and significant to being a developer. I think my portfolio shows my passion for both the creative and logical aspects of developing, particularly my C# text-based mini-game where you rid a fey castle of monsters.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Abbey Section -->
</main>