@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<!-- ======= Main ======= -->
<main id="main">

    <!-- ======= Links Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Links</h2>
                <h5>My Network</h5>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/andrewAllen.jpg" alt="Andrew Allen">
                        <div class="social">
                            <h4><a href="http://www.double-a-dev.com" target="_blank">Andrew Allen</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/scottCashion.jpg" alt="Scott Cashion">
                        <div class="social">
                            <h4><a href="http://scott-cashion.com" target="_blank">Scott Cashion</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/jasonColobong.jpg" alt="Jason Colobong">
                        <div class="social">
                            <h4><a href="http://www.developer.jason-colobong.com" target="_blank">Jason Colobong</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/ericFaith.jpg" alt="Eric Faith">
                        <div class="social">
                            <h4><a href="http://www.eric-faith.net" target="_blank">Eric Faith</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/joshuaFoley-cropped.jpg" alt="Joshua Foley">
                        <div class="social">
                            <h4><a href="http://joshua-foley.com" target="_blank">Joshua Foley</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/janetLester.jpg" alt="Janet Lester">
                        <div class="social">
                            <h4><a href="http://www.jlester-dev.net" target="_blank">Janet Lester</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/donRichardson.jpg" alt="Don Richardson">
                        <div class="social">
                            <h4><a href="http://www.don-richardson.com" target="_blank">Don Richardson</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/Content/assets/img/patrickStephen.jpg" alt="Patrick Stephen">
                        <div class="social">
                            <h4><a href="http://www.patrick-stephen.com" target="_blank">Patrick Stephen</a></h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Links Section -->

</main>