@{
    ViewBag.Title = "Resume";
}

<h2>@ViewBag.Title.</h2>

<!-- ======= Main ======= -->
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <a href="~/Content/assets/AbbeyOutainResume.pdf" id="download" download="">Download</a>
            </div>

            <ul class="faq-list">

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">Technical and Professional Skills<i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                <h4>Front End</h4>
                                <ul>
                                    <li>
                                        HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>Middle Tier</h4>
                                <ul>
                                    <li>
                                        C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>Back End</h4>
                                <ul>
                                    <li>
                                        ADO.NET, SQL, SQL Server
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>Tools</h4>
                                <ul>
                                    <li>
                                        Visual Studio, Visual Studio Code, SSMS, FileZilla
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>Professional Skills</h4>
                                <ul>
                                    <li>
                                        Creative Thinking, Critical Thinking, Problem Solving, Active Listening, Communication, Collaboration, Editing, Writing
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Education and Technical Training<i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                <h4>Centriq Training | <em>Kansas City, MO</em></h4>
                                <ul>
                                    <li>Full Stack Web Developer Program</li>
                                    <li><em>November 2021 - March 2022</em></li>
                                </ul>
                            </li>
                            <li>
                                <h4>University of Missouri-Kansas City | <em>Kansas City, MO</em></h4>
                                <ul>
                                    <li>Bachelor of Arts: English Creative Writing Emphasis</li>
                                    <li><em>August 2014 - August 2020</em></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

            <!-- ======= Independent Projects ======= -->
                @*<li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Independent Development Projects<i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                Personal Site: Created a personal site using bootstrap and jQuery. Visit abbey-outain.com for a complete portfolio view.
                            </li>
                            <li>
                                Fullstack StoreFront Application: Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage user, product, category, and vendor data.
                            </li>
                            <li>
                                .NET Web API: Description TBD…
                            </li>
                            <li>
                                React JS To Do Application: Description TBD…
                            </li>
                        </ul>
                    </div>
                </li>*@

            </ul>

        </div>
    </section>
    <!-- End Resume Section -->

</main>