@{
    ViewBag.Title = "Resume";
}

<h2>@ViewBag.Title.</h2>

<!-- ======= Main ======= -->
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">Technical and Professional Skills<i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                Front End: HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS
                            </li>
                            <li>
                                Middle Tier: C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API
                            </li>
                            <li>
                                Back End: ADO.NET, SQL, SQL Server
                            </li>
                            <li>
                                Tools: Visual Studio, Visual Studio Code, SSMS
                            </li>
                            <li>
                                Professional Skills: Creative Thinking, Critical Thinking, Problem Solving, Active Listening, Communication, Collaboration, Editing, Writing
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Independent Development Projects<i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                Personal Site: Created a personal site using bootstrap and jQuery. Visit abbey-outain.com for a complete portfolio view.
                            </li>
                            <li>
                                Fullstack StoreFront Application: Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage user, product, category, and vendor data.
                            </li>
                            <li>
                                .NET Web API: Description TBD…
                            </li>
                            <li>
                                React JS To Do Application: Description TBD…
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Education and Technical Training<i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <ul>
                            <li>
                                Full Stack Web Developer Program - Centriq Training, Kansas City, MO
                                November 2021  - March 2022
                            </li>
                            <li>
                                Bachelor of Arts: English Creative Writing Emphasis - University of Missouri-Kansas City, Kansas City, MO
                                August 2014 - August 2020
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>

        </div>
    </section>
    <!-- End Resume Section -->

</main>