<?xml version="1.0" encoding="utf-8" ?>

<appSettings>

  <!--This file was added to protect sensitive data from being committed to Source Control-->
  <!--Because of the file attribute in the appSettings in the Web.config, this section of appSettings 
      will be merged together with the appSettings section there. For the file attribute to work, this
      config file should only contain information about appSettings.-->

  <!--Replace yourdomain.com below with your actual domain and extension-->
  <add key="EmailClient" value="mail.abbey-outain.com"/>

  <!--Replace mail@yourdomain.com below with the email user created for your hosting account-->
  <add key="EmailUser" value="admin@abbey-outain.com"/>

  <!--Replace Password below with your email user's password-->
  <add key="EmailPass" value="P@ssw0rd"/>

  <!--Replace mail@domain.com below with your personal email-->
  <add key="EmailTo" value="abbeyoutain@outlook.com"/>

</appSettings>